fastapi
uvicorn[standard]

sqlalchemy
psycopg[binary]

alembic

pydantic
pydantic-settings

python-dotenv

passlib[argon2]
argon2-cffi

pyjwt

cryptography
pycryptodome

structlog

pytest
pytest-asyncio
httpx

email-validator

pydantic
pydantic-settings
email-validator

