@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 font-sans text-slate-700 antialiased;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded bg-slate-300;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

::selection {
  @apply bg-brand-100 text-brand-900;
}